<%- include ../partials/header.ejs %>
<div class="neighborhoodtitle">
  <h3>Welcome to Austin Neighborhoods</h3>
  <h4>See murals closest to you!</h4>
</div>

<div class="neighborhoods">
  <div>
    <ul>
      <div class="row list">
      <% for (let i = 0; i < neighborhoods.length; i++){ %>
          <div class="col s6 m4" data-id="<%= neighborhoods[i].id%>">
            <div class="card-panel" data-id="<%= neighborhoods[i].id%>">
              <div class="card-image" data-id="<%= neighborhoods[i].id%>">
                <p><h3 data-id="<%= neighborhoods[i].id%>"><%= neighborhoods[i].name %></h3></p>
              </div>
            </div>
          </div>
          <% } %>
        </div>
    </ul>
  </div>
  </div>

<div id="map" style="height: 400px; width: 100%"></div>

<script>
  let markers = [];
  let map = null;

  function initMap() {
    let austin = {lat:30.2711, lng: -97.7437};

    // instantiate infowindow
    let infoWindow = new google.maps.InfoWindow();

    // instantiate map
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: austin
    });

    // get data to populate markers array
    getMurals(map, infoWindow);

    // handler to update the visible and hidden markers based on filtering by neighborhood_id
    document.getElementsByClassName('list')[0].addEventListener("click", (e) => {
      updateMarkersFilter(e.target.dataset.id);
    });
  }

  function getMurals(map, infoWindow) {
    // let url = null;
    // neighborhood_id ? url = `/api/murals?neighborhood=${neighborhood_id}` : url = "/api/murals";
    let url = "/api/murals";
    $.get(url, function(murals) {
      murals.forEach((mural) => {
        // parse latitude and longitude from string, to number, to google latlng
        let latLng = new google.maps.LatLng(+mural.latitude, +mural.longitude);

        let marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: mural.name,
          neighborhood_id: mural.neighborhood_id
        });

        let content = `
        <div><a href='/murals/${mural.id}'>${mural.name}</a></div>
        <div>Description: ${mural.description}</div>
        <div>neighborhood_id: ${mural.neighborhood_id}</div>
        `;

        marker.addListener('click', function() {
          // check that the infowindow is not already opened on this marker
          if (infoWindow.marker != marker) {
            // assign marker, content, and open infowindow
            infoWindow.marker = marker;
            infoWindow.setContent(content);
            infoWindow.open(map, marker);

            // clear marker property if an infowindow is closed
            infoWindow.addListener('closeclick', function() {
              infoWindow.marker = null;
            });
          } else {
            infoWindow.close();
            infoWindow.marker = null;
          }
        });

        markers.push(marker);
      });
    });
  }

  function updateMarkersFilter(neighborhood_id) {
    console.log(neighborhood_id);
    for (var i = 0; i < markers.length; i++) {
      // display markers if no id is provided for filter, or if neighborhood_id matches filter
      if(!neighborhood_id || markers[i].neighborhood_id === +neighborhood_id) {
        markers[i].setMap(map);
      } else {
        // hide all others
        markers[i].setMap(null);
      }
    }
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWZ7QSSFjfBAECc_XNeQZ4q93CH5yemcs&callback=initMap">
</script>

<%- include ../partials/footer.ejs %>
