<%- include ../partials/header.ejs %>

  <h3>Add a Mural</h3>
  <form class="pure-form pure-form-stacked" action="/murals" method="post">
    <fieldset>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <label for="mural-name">Mural name</label>
          <input id="name" class="pure-u-23-24" type="text" placeholder="I love you so much." name="name">
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
          <label for="artist-name">Artist Name</label>
          <select id="artist-name" class="pure-input-1-2" name="artist_id">
            <% artists.forEach((artist) => {  %>
              <option value="<%= artist.id %>"><%= artist.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
          <label for="Description">Description</label>
          <input id="description" class="pure-u-23-24" type="text" placeholder="This mural is recognizable to many Austonians" name="description">
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
          <label for="neighborhood">Neighborhood</label>
          <select id="neighborhood" class="pure-input-1-2" name="neighborhood_id">
            <% neighborhoods.forEach((neighborhood) => {  %>
              <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
            <% }) %>
          </select>
        </div>
      </div>

      <!-- google autocomplete -->
      <label for="location">Location</label>
      <input name="location" class="pure-u-23-24" id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
      <input type="hidden" name="latitude" value="latitude" />
      <input type="hidden" name="longitude" value="longitude" />

      <label for="terms" class="pure-checkbox">
          <input id="terms" type="checkbox"> I've read the terms and conditions
      </label>
      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>

  <script>
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        document.querySelector('input[name="latitude"]').setAttribute('value', place.geometry.location.lat());
        document.querySelector('input[name="longitude"]').setAttribute('value', place.geometry.location.lng());
      });
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWZ7QSSFjfBAECc_XNeQZ4q93CH5yemcs&libraries=places&callback=initAutocomplete">
  </script>
<%- include ../partials/footer.ejs %>
