<%- include ../partials/header.ejs %>

  <h3>Add a Mural</h3>

  <div class="row">
    <form class="col s12" action="/murals" method="post">
      <div class="row">

        <div class="input-field col s6">
          <input placeholder="I love you so much" id="name" type="text" class="validate" name="name">
          <label for="name">Mural name</label>
        </div>

        <div class="input-field col s12">
          <select name="artist_id">
          <option value="" disabled selected>Select an artist</option>
          <% artists.forEach((artist) => {  %>
            <option value="<%= artist.id %>"><%= artist.name %></option>
          <% }) %>
        </select>
          <label>Artist Name</label>
        </div>

        <div class="input-field col s12">
          <textarea name="description" id="description" class="materialize-textarea" placeholder="This mural is recognizable to many Austonians"></textarea>
          <label for="description">Description</label>
        </div>

        <div class="input-field col s12">
          <select name="neighborhood_id">
         <option value="" disabled selected>Select a neighborhood</option>
         <% neighborhoods.forEach((neighborhood) => {  %>
           <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
         <% }) %>
       </select>
          <label>Neighborhood</label>
        </div>

        <!-- google autocomplete -->
        <div class="input-field col s12">
          <label for="location">Location</label>
          <input name="location" id="autocomplete" placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
          <input type="hidden" name="latitude" value="latitude" />
          <input type="hidden" name="longitude" value="longitude" />
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>

  <script>
    $(document).ready(function() {
      $('select').material_select();
    });

    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        document.querySelector('input[name="latitude"]').setAttribute('value', place.geometry.location.lat());
        document.querySelector('input[name="longitude"]').setAttribute('value', place.geometry.location.lng());
      });
    }

    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWZ7QSSFjfBAECc_XNeQZ4q93CH5yemcs&libraries=places&callback=initAutocomplete">
  </script>
  <%- include ../partials/footer.ejs %>
