<%- include ../partials/header.ejs %>


    <h3 class="splash-head">Austin Murals</h3>
    <% if (user) { %>



    <a class="waves-effect waves-light btn" href="/murals/create">Create</a>
    <% } %>




    <ul>
      <% for (let i = 0; i < murals.length; i++){ %>
        <div class="row">
    <div class="col s6 m4">
      <div class="card">
        <div class="card-image">
          <img src="<%=imageList[i].url%>">
          <!-- <span class="card-title"><%= murals[i].name %></span> -->
          <p><%= murals[i].description %><h3><%= murals[i].name %></h3></p>
        </div>
        <div class="card-action">
          <a href="/murals/<%=murals[i].id%>">View Mural</a>
          <!-- <a href="#">View Mural</a> -->
        </div>
      </div>
    </div>
  </div>



      <% } %>

    </ul>

<%- include ../partials/footer.ejs %>
