<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mural</title>
  </head>
  <body>
    <h1><%= mural.name %></h1>
    <ul>
      <li>Description: <%= mural.description %></li>
      <li>Artist:<%= artist.name %></li>
      <li>Neighborhood: <%= neighborhood.name %></li>
    </ul>
    <% photos.forEach(photo => { %>
      <img src="data:image/png;base64,<%=photo.photo%>" alt="mural">
    <% }) %>
  </body>
</html>
