<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Mural</title>
  </head>
  <body>
    <h1><%= mural.name %></h1>
    <ul>
      <li>Description: <%= mural.description %></li>
      <li>Artist:<%= artist.name %></li>
      <li>Neighborhood: <%= neighborhood.name %></li>
    </ul>
    <% photos.forEach(photo => { %>
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/1.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/2.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/3.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/4.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/5.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/6.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/7.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/8.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/9.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/10.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/11.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/12.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/13.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/14.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/15.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/16.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/17.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/18.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/19.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/20.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/21.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/22.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/23.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/24.jpg" alt="mural" width="400" height="300">
      <img src="http://res.cloudinary.com/murality/<%=mural.name%>/25.jpg" alt="mural" width="400" height="300">
    <% }) %>
  </body>
</html>
