<%- include ../partials/header.ejs %>

    <h1><%= mural.name.replace('_',' ') %></h1>

    <a href="#" id="upload_widget_opener"><button type="submit" class="pure-button pure-button-primary">Upload multiple images</button></a>

    <ul>
      <li>Description: <%= mural.description %></li>
      <li>Artist: <%= artist.name %></li>
      <li>Neighborhood: <%= neighborhood.name %></li>
    </ul>
    
    <% photos.forEach( photo => { %>
      <img src="<%=photo.url%>" alt="mural" width="400" height="300">
    <% }) %>

    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
      cloudinary.openUploadWidget({ cloud_name: 'murality', upload_preset: 'vh3mwzgv'},
      function(error, result) { console.log(error, result) });
    }, false);
    $(document).on('cloudinarywidgetfileuploadsuccess', function(e, data) {
      console.log(data.secure_url);
      $.ajax({
    type: "POST",
    url: '/photos',
    data: {url: data.secure_url, mural_id: <%= mural.id %>}
  });
})
    </script>


<%- include ../partials/footer.ejs %>
