<%- include ../partials/header.ejs %>

    <h1><%= mural.name %></h1>
    <ul>
      <li>Description: <%= mural.description %></li>
      <li>Artist: <%= artist.name %></li>
      <li>Neighborhood: <%= neighborhood.name %></li>
    </ul>
    <% photos.forEach(photo => { %>
      <img src="https://i.imgur.com/w9OmB8N.jpg" alt="mural" width="400" height="300">
    <% }) %>
<%- include ../partials/footer.ejs %>
