<%- include ../partials/header.ejs %>

    <h1><%= mural.name %></h1>

    <a href ="/murals/<%=mural.id%>/edit"><button type="submit" class="pure-button pure-button-primary">Edit Mural</button></a>
    <a href="#" id="upload_widget_opener"><button type="submit" class="pure-button pure-button-primary">Upload multiple images</button></a>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <script type="text/javascript">
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
      cloudinary.openUploadWidget({ cloud_name: 'murality', upload_preset: 'vh3mwzgv'},
      function(error, result) { console.log(error, result) });
    }, false);
    $(document).on('cloudinarywidgetfileuploadsuccess', function(e, data) {
      $.ajax({
        type: "POST",
        url: '/photos',
        data: {url: data.secure_url, mural_id: <%= mural.id %>}
      });
    })
    </script>

    <ul>
      <li>Description: <%= mural.description %></li>
      <li>Artist: <%= artist.name %></li>
      <li>Neighborhood: <%= neighborhood.name %></li>
    </ul>

    <% let cropScale = '' + 400; %>
    <% photos.forEach( photo => { %>
      <% let photoSegs = photo.url.split('upload'); %>
      <% let resizedUrl = photoSegs[0] + 'upload/c_scale,h_' + cropScale + photoSegs[1]; %>
      <img src="<%=resizedUrl%>" alt="mural">
    <% }) %>



<%- include ../partials/footer.ejs %>
