<%- include ../partials/header.ejs %>

  <body>

    <h1><%= artist.name %></h1>
    <a href ="/artists/<%=artist.id%>/edit"><button type="submit" class="pure-button pure-button-primary">Edit Artist</button></a>
    <!-- TODO we need to create a route to this show page -->
    <ul>
      <li>Bio: <%= artist.bio %></li>
    </ul>
    <h2>Murals</h2>
    <% murals.forEach(mural => { %>
      <a href="/murals/<%=mural.id%>">
        <img src="https://i.imgur.com/w9OmB8N.jpg" alt="mural" width="400" height="300">
    </a>
    <% }) %>

    <%- include ../partials/footer.ejs %>
